// Here you can add other styles

.card {box-shadow: 0 1px 15px 1px rgba(39, 39, 39, .1);}

// .card-header {border-top-left-radius: 0.25rem;
// border-top-right-radius: 0.25rem;}

.sidebar {box-shadow: 0 2px 22px 0 rgba(0, 0, 0, .2),
0 2px 30px 0 rgba(0, 0, 0, .35);}
